<div  class="col-md-8 col-md-offset-2 span2">
  <nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">

        </a>
      </div>
    </div>
  </nav>

  <nav class="navbar2 navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <h3>SunNy</h3>
      </div>
    </div>
  </nav>

  <div class="box-one" id="box">
    <div class="span2 well">
      <img src="res/images/sunny.jpg" class="img-circle" alt="SunNy" width="304" height="236">
      <h3>Shehabul Hossain (SunNy)</h3>
      <h5>Computer Programmer/ Developer</h5>
      <br>
      <br>
      <p>Hello everyone, I am a student of Computer Science and Engineering at BRAC University,
        Dhaka. Started coding in 2012. Now I'm exploring different branches of software
        technologies. I like to Code, play Counter Strike and travel.
      </p>
    </div>
  </div>

  <div class="section-header skill" id="skill">
    <p><i class="fa fa-cogs"></i> SKILLS</p>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12 skill">
          <div class="box-sm">
            <div class="span2 well">
              <h3 style="color: black"><i class="fa fa-laptop"></i> Computing Skills</h3>
              <div class="row row-bottom-margin">
                <div class="col-md-12">
                  <div class="col-md-3">
                    <h3>JAVA</h3>
                  </div>
                  <div class="col-md-9">
                    <h3><input type="range" class="slide-bar" min="0" max="100" step="1" value="85" disabled></h3>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-3">
                    <h3>PYTHON</h3>
                  </div>
                  <div class="col-md-9">
                    <h3><input type="range" class="slide-bar" min="0" max="100" step="1" value="75" disabled></h3>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-3">
                    <h3>PHP</h3>
                  </div>
                  <div class="col-md-9">
                    <h3><input type="range" class="slide-bar" min="0" max="100" step="1" value="70" disabled></h3>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-3">
                    <h3>JAVASCRIPT</h3>
                  </div>
                  <div class="col-md-9">
                    <h3><input type="range" class="slide-bar" min="0" max="100" step="1" value="70" disabled></h3>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-3">
                    <h3>ANGULAR JS</h3>
                  </div>
                  <div class="col-md-9">
                    <h3><input type="range" class="slide-bar" min="0" max="100" step="1" value="60" disabled></h3>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-3">
                    <h3>ANDROID</h3>
                  </div>
                  <div class="col-md-9">
                    <h3><input type="range" class="slide-bar" min="0" max="100" step="1" value="50" disabled></h3>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-3">
                    <h3>C++</h3>
                  </div>
                  <div class="col-md-9">
                    <h3><input type="range" class="slide-bar" min="0" max="100" step="1" value="75" disabled></h3>
                  </div>
                </div>
              </div>
              <h3 style="color: black"><i class="fa fa-code"></i></h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12 skill">
          <div class="box-sm">
            <div class="span2 well">
              <h3 style="color: black"><i class="fa fa-user"></i> Soft Skills</h3>
              <div class="row row-bottom-margin">
                <div class="col-md-12">
                  <div class="col-md-6">
                    <h3 style="color: black;font-size: 15px; text-align: left"><i class="fa fa-users"></i> COMMUNICATION</h3>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-3">
                    <h3>ENGLISH</h3>
                  </div>
                  <div class="col-md-9">
                    <h3><input type="range" class="slide-bar" min="0" max="100" step="1" value="90" disabled></h3>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-3">
                    <h3>BENGALI</h3>
                  </div>
                  <div class="col-md-9">
                    <h3><input type="range" class="slide-bar" min="0" max="100" step="1" value="95" disabled></h3>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-3">
                    <h3>HINDI</h3>
                  </div>
                  <div class="col-md-9">
                    <h3><input type="range" class="slide-bar" min="0" max="100" step="1" value="70" disabled></h3>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-5">
                    <h3 style="color: black;font-size: 15px; text-align: left"><i class="fa fa-bolt"></i> ADDITIONAL</h3>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-3">
                    <h3>PROBLEM SOLVING</h3>
                  </div>
                  <div class="col-md-9">
                    <h3><input type="range" class="slide-bar" min="0" max="100" step="1" value="80" disabled></h3>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="col-md-3">
                    <h3>TEAM WORK</h3>
                  </div>
                  <div class="col-md-9">
                    <h3><input type="range" class="slide-bar" min="0" max="100" step="1" value="80" disabled></h3>
                  </div>
                </div>
              </div>
              <h3 style="color: black"><i class="fa fa-code"></i></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-header project" id="project">
    <p><i class="fa fa-terminal"></i> PROJECTS</p>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12 project">
          <div class="box-sm">
            <div class="span2 well">
              <img src="res/images/product_zap.jpg" class="img-responsive" alt="Product Zap" width="304" height="236">
              <h3><a href="http://www.productzap.com">ProductZap</a></h3>
              <h4>Worked with Angular JS to develop the front-end of this web application.</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12 project">
          <div class="box-sm">
            <div class="span2 well">
              <img src="res/images/nohunch.jpg" class="img-responsive" alt="NoHunch" width="304" height="236">
              <h3><a href="http://www.nohunch.com">NoHunch</a></h3>
              <h4>Used PHP Laravel Framework to develop server side API.</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12 project">
          <div class="box-sm">
            <div class="span2 well">
              <img src="res/images/gambit.jpg" class="img-responsive" alt="Gambit" width="304" height="236">
              <h3><a href="">Gambit</a></h3>
              <h4>An Android app that won the first price in corruption category in Bangladesh National Hackathon 2014</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12 project">
          <div class="box-sm">
            <div class="span2 well">
              <img src="res/images/incuba.jpg" class="img-responsive" alt="INCUBA" width="304" height="236">
              <h3><a href="">Incuba</a></h3>
              <h4>Developed front-end and back-end of the web application using Meteor JS.</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-header education" id="education">
    <p><i class="fa fa-graduation-cap"></i> EDUCATION</p>
  </div>

  <div class="box education" id="education-box">
    <div class="span2 well">
      <div class="row row-bottom-margin">
        <div class="col-md-12 education">
          <div class="col-md-4">
            <h4>BRAC UNIVERSITY</h4>
          </div>
          <div class="col-md-8">
            <h4>BACHELOR OF SCIENCE IN COMPUTER SCIENCE AND ENGINEERING</h4>
          </div>
        </div>
        <div>
          <br>
        </div>
        <div class="col-md-12 education">
          <div class="col-md-4">
            <h4>GOVT. SHAHEED BULBUL COLLEGE</h4>
          </div>
          <div class="col-md-8">
            <h4>HIGHER SECONDARY SCHOOL CERTIFICATE (HSC)</h4>
          </div>
        </div>
        <div>
          <br>
        </div>
        <div class="col-md-12 education">
          <div class="col-md-4">
            <h4>PABNA ZILLA SCHOOL</h4>
          </div>
          <div class="col-md-8">
            <h4>SECONDARY SCHOOL CERTIFICATE (SSC)</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-header">
    <p><i class="fa fa-paper-plane"></i> FIND ME ON</p>
  </div>

  <div class="box contact" id="contact-box">
    <div class="span2 well">
      <div class="row row-bottom-margin">
        <div class="col-md-2">
          <a href="mailto:hi@sunny.im" target="_top">
            <img src="res/images/email.png" class="img-responsive" width="100" height="auto" >
          </a>
        </div>
        <div class="col-md-2">
          <a href="https://github.com/ShehabSunny" target="_blank">
            <img src="res/images/social-1_logo-github.svg" class="img-responsive" width="100" height="auto">
          </a>
        </div>
        <div class="col-md-2">
          <a href="http://www.fb.com/imsunny005" target="_blank">
            <img src="res/images/social-1_round-facebook.svg" class="img-responsive" width="100" height="auto">
          </a>
        </div>
        <div class="col-md-2">
          <a href="https://twitter.com/l33tSunNy" target="_blank">
            <img src="res/images/social-1_round-twitter.svg" class="img-responsive" width="100" height="auto">
          </a>
        </div>
        <div class="col-md-2">
          <a href="https://plus.google.com/u/0/+SunNyHosSaiN" target="_blank">
            <img src="res/images/social-1_round-google-plus.svg" class="img-responsive" width="100" height="auto">
          </a>
        </div>
        <div class="col-md-2" target="_blank">
          <img src="res/images/social-1_round-instagram.svg" class="img-responsive" width="100" height="auto">
        </div>
      </div>
    </div>
  </div>
  <div class="section-header">
    <p><i class="fa fa-code"></i></p>
  </div>
</div>

